05 Sample Databases/CapeHatterasAdventures/CHA2_Events.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Paul Nielsen (author - SQL Server 2000 Bible - Wiley & Sons) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT Event EMPTY>
<!ATTLIST Event
	Code CDATA #REQUIRED
	DateBegin CDATA #REQUIRED
>
<!ELEMENT Tour (Event+)>
<!ATTLIST Tour
	Name CDATA #REQUIRED
>
<!ELEMENT Tours (Tour+)>
